* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1;
  /* height: 100px; */
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

main {
  /* css nonsense */
}

footer {
  /* stuff */
}

.logo {
  grid-column: 1 / 2;
  height: 100px;
  width: 100px;
}

.menu {
  grid-column: 2/3;
  background-color: gray;
  height: 100px;
}

ul, li {
  list-style-type: none;
  color: white;
  font-family: sans-serif;
  background-color: gray;
}

a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  background-color: gray;
}

#menuBtn {
  font-size: 2rem;
  color: white;
}

.menuItems {
  color: white;
  font-family: sans-serif;
  background-color: gray;
}

ul.dropdown li{
  display: none;
}

ul.dropdown li {
  display: block;
}

ul li.menuItems ul{
  display: none;
}

ul li.menuItems:hover ul {
  display: block;
}
